.btn {
  width: 100%;
  min-height: 45px;
  margin: 10px 0;
  color: white;
  font-weight: 800;
  font-size: 16px;
  border: 2px solid #ff9c00;
  border-radius: 50px;
}

.filled {
  background-color: #ff9c00;
}

.outlined {
  background-color: #393939;
}
