.reactSelectContainer {
  width: 100%;
}

.reactSelectContainer > span,
.reactSelectSingleValue {
  color: #ffffff;
}

.reactSelectControl {
  width: 100%;
  height: 45px;
  background: #393939;
  border: 2px solid #8f8f8f;
  border-radius: 50px;
  cursor: pointer;
}

.reactSelectMenu {
  color: #ffffff;
  background: #393939;
  cursor: pointer;
}
